@import "modules/base";

.divi-100-article-card .et_pb_blog_grid {

  /* Article Card */
  .article-card {
    position: relative;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba($black, 0.15);
    transition: 0.2s ease;
    overflow: hidden;
    padding: 0;

    &:hover {
      box-shadow: 0px 1px 35px 0px rgba($black, 0.3);
    }

    &.et_pb_no_thumb.format-standard {
      background: #F3F3F3;
      padding-top: 150px;
    }

    &__content {
      z-index: 100;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $white;
      padding: 20px 30px 30px;
      box-sizing: border-box;
    }

    &__category {
      position: absolute;
      top: -34px;
      left: 0;
      display: none;
      background: #212121;
      padding: 10px 15px;
      color: $white;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;

      &:first-of-type {
        display: block;
      }
    }

    &__date {
      z-index: 100;
      position: absolute;
      top: 20px;
      right: 20px;
      background: #212121;
      width: 56px;
      height: 56px;
      border-radius: 100%;
      padding: 10px 0;
      box-sizing: border-box;
      color: #FFF;
      line-height: 1;
      font-weight: 700;
      text-align: center;
    }

    &__day {
      display: block;
      margin: 0 0 4px;
      font-size: 1.125rem;
    }

    &__month {
      display: block;
      font-size: 0.75rem;
      text-transform: uppercase;
    }

    &__title {
      margin: 0;
      padding: 10px 0;
      color: #333;
      font-size: 26px;
      font-weight: 700;
    }

    &__excerpt {
      color: #666;
      font-size: 0.875rem;
    }

    &__meta {
      padding: 10px 0 0;
      color: #999;
      font-size: 0.75rem;
    }

    &__author {
      margin: 0 20px 0 0;

      &:before {
        content: "";
        display: inline-block;
        margin: 0 5px 0 0;
        box-sizing: border-box;
        font-family: "ETmodules";
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-transform: none;
        speak: none;
      }

      a {
        color: inherit;
      }
    }

    &__comments {
      &:before {
        content: "w";
        display: inline-block;
        margin: 0 5px 0 0;
        box-sizing: border-box;
        font-family: "ETmodules";
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-transform: none;
        speak: none;
      }
    }

    /* Reset */
    .et_pb_image_container,
    .et_pb_slider,
    .et_audio_content,
    .et_link_content,
    .et_quote_content {
      margin: 0;
    }

    .et_link_content,
    .et_quote_content {
      padding-top: 80px;
      padding-bottom: 80px;

      @media (max-width: 768px) {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
      }
    }

    .et_audio_content {
      padding-top: 40px;
      padding-bottom: 60px;

      @media (max-width: 768px) {
        padding-top: 80px !important;
        padding-bottom: 120px !important;
      }
    }
  }
}