@import "modules/base";

.divi-100-article-card {
  &.et_pb_blog_grid {
    .et_pb_post {
      position: relative;
      border: 0;
      box-shadow: 0px 1px 2px 0px rgba($black, 0.15);
      padding: 30px;
      transition: 0.2s ease;
      overflow: hidden;

      &.article-card {
        padding: 0;

        > div:first-child {
          margin: 0;
        }

        .date {
          z-index: 10;
          position: absolute;
          top: 20px;
          right: 20px;
          background: #333333;
          width: 54px;
          height: 54px;
          border-radius: 100%;
          padding: 10px;
          line-height: 1;
          box-sizing: border-box;
          color: #FFF;
          font-weight: 700;
          text-align: center;

          .day {
            font-size: 18px;
          }

          .month {
            font-size: 12px;
            text-transform: uppercase;
          }
        }

        .post-content {
          position: absolute;
          bottom: 0;
          background: $white;
          width: 100%;
          padding: 30px;

          .entry-title {
            margin-top: 0;
            font-size: 26px;
            font-weight: 700;
          }

          .author {
            display: inline-block;
            margin: 10px 20px 0 0;

            &:before {
              content: '';
              margin: 0 10px 0 0;
              font-family: "ETmodules";
              font-weight: normal;
              font-variant: normal;
              -webkit-font-smoothing: antialiased;
              line-height: 1;
              text-transform: none;
            }

            a {
              color: inherit;
            }

            // display: block;
            // margin: 0 0 20px;
            // font-size: 18px;

          }

          .comments {
            display: inline-block;
            margin: 10px 0 0;

            &:before {
              content: '';
              margin: 0 10px 0 0;
              font-family: "ETmodules";
              font-weight: normal;
              font-variant: normal;
              -webkit-font-smoothing: antialiased;
              line-height: 1;
              text-transform: none;
            }
          }

          .category {
            z-index: 10;
            position: absolute;
            top: -34px;
            left: 0;
            background: #212121;
            padding: 10px 15px;
            color: #FFF;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
          }
        }

        .et-pb-controllers {
          right: 20px;
          left: auto;
          text-align: right;

          a {
            color: transparent;
          }
        }

        &.format-quote {
          .et_quote_content {
            padding: 70px 30px;
          }
        }

        &.format-link {
          .et_link_content {
            padding: 70px 30px;
          }
        }

        &.format-audio {
          .et_audio_content {
            padding: 65px 20px;
          }
        }

        // &.format-quote,
        // &.format-link,
        // &.format-audio {
        //   .post-content {
        //     .category {
        //       top: -34px;
        //     }
        //   }
        // }

      }
    }
  }
}

@import "partials/type-1";
@import "partials/type-2";
@import "partials/type-3";
@import "partials/type-4";